/************************Start default-color-theme style file properities ************************
الاصلي بتستخدم الالوان وهحطها في هذا الملف عشان انا هشتغل علي العناصر اللي ليها الوان وخاصة العناصر اللي ليها لون احمر في الموقع  style هشوف العناصر اللي في ملف ال
 وكذلك select اللي معمول عليها  indicators وال navbar بتاع ال header اللي موجود في ال active وذي العنصر ال inc ذي لون السبام اللي مكتوب فيه كلمة
اسماء الناس اللي بيقولوا ارائهم عن الموقع والحدود اللي حول الصورة بتاعت الناس اللي بيقولوا ارائهم عن الموقع 
  الجدبد style خلي بالك العناصر اللي البوتستراب خلت لونها احمر مش هاخذها معا في ملف ال
/**************** خاص به style عندي خمس الوان فكل لون هعمل له ملف colorBox دلوقتي في ال ******************
1- #E41B17 ده هيخلي اللون بتاع العناصر سواء خلفية او نص او حدود لون  defaultColorTheme.css اسمه style هعمل ملف 
2- #E426D5 ده هيخلي اللون بتاع العناصر سواء خلفية او نص او حدود لون  purpleColorTheme.css اسمه style هعمل ملف 
3- #009AFF ده هيخلي اللون بتاع العناصر سواء خلفية او نص او حدود لون  blueColorTheme.css اسمه style هعمل ملف 
4- #ffa115 ده هيخلي اللون بتاع العناصر سواء خلفية او نص او حدود لون  orangeColorTheme.css اسمه style هعمل ملف 
5- #E426D5 ده هيخلي اللون بتاع العناصر سواء خلفية او نص او حدود لون  purpleColorTheme.css اسمه style هعمل ملف 

*/

/* -------------- فقط في الموقع بتاعي الي لون معين #E41B17 هذا الملف بيغير اللون بتاع العناصر اللي لونها احمر ---------------------- */
/**************************************** Notes هامة *********************************************************
1-   لها نفس اللون عشان ميكنش عندي سطور كود متكررة background-color لكل العناصر اللي ال Grouping هعمل تجميع 
2-   لها نفس اللون الكلام عشان ميكنش عندي سطور كود متكررة color لكل العناصر اللي ال Grouping هعمل تجميع 
************************************************************************************************************/
/****************-------------- bakcground-color هذه هي مجموعة العناصر اللي ليها نفس ال ------ ***************************/
/***************************************** navbar properities *******************************************/
/* link without class */
/*لها نفس اللون عشان ميكنش عندي سطور كود متكررة background-color لكل العناصر اللي ال Grouping هعمل تجميع */
.navbar-inverse .navbar-nav > .active > a , 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus ,
/***************************************** navbar properities *******************************************/
/*  change the background-color of dropdown menu when hover :  */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
/******************************** slideShow(caruosel) properities ***************************/
.carousel-indicators  .active ,
/********************** هنسق الايقونة اللي هضغط عليها هتظهر لي القائمة بتاعت الالوان *****************************************/
.optionBoxClass .gearCheck
{
    /* ده لون الخلفية كل دائرة لما احط الفارة عليها */
    /* dropdown menu 1 , 2 ده لون خلفية  كل عنصر من عناصر ال */
    
   background-color:#009AFF; 
}
/* ----------------------------------------------------------------------------------------------------------- */

/* ********************** -------- color هذه هي مجموعة العناصر اللي ليها نفس ال -------- ********************************* */
/***************************************** navbar properities *****************************************/
/* brand name اللي موجودة في ال span هغير لون ال */
.navbar-brand span , 
/* -------------------------------------- start about section properities ---------------------------------- */
.about h1 span , .about h4 span,
/***************************** Lesson16 : Start testimonials section  اراء الناس عن الموقع **************************/
.testimonials .item span ,
/* ****************************************** start Footer Section ******************************************* */
.footerClass h3,
/*  ***************************************** start copyright ************************************** */
.footerClass  .copyrightClass span
{
      color:#009AFF ; 
}

/* ----------------------------------------------------------------------------------------------------------- */

/* **************** -------- border هذه هي مجموعة العناصر اللي ليها نفس لون  ال -------- *********************** */
/* ****************************************  start price table section ************************************** */
.tableSection .price_box:hover p ,
/******************************* خصائص الديف اللي هيكون فيه الالون اللي هختار منها لون معين **********************************/
.colorBox ,
/* active هخلي الشفافية بتاعت الصورة اللي واقف عليها بالفارة تكون ب 1 يعني هخليها هيه اللي ظهره يعني هيه ال  */
.testimonials .carousel-indicators li.active
{
    border:3px solid #009AFF;
}





/************************End default-color-theme style file properities ************************009AFF