/*  ******************************************* start mediaQuery ************************************** */
/*
    768px بتاعه بيساوي max-width بتاع الموبيلات والتابلت ومعني الكلام ده ان اي شخص يدخل علي الموقع من جهاز ال  max-width ده ال 
  نفذ هذه علي هذه الشاشة 
هو نوع الجهاز اللي هدخل الموقع عن طريقه سواء كان كمبيوتر او لاب توب او تابلت او تليفون محمول media ومعني
وهذه الخصائص هيتم تطبيقها علي شاشات المحمول والتابلت يعني علي الشاشات اللي اللي اقصي عرض ليها هو ال768 بيكسل  
*/
/* for smartPhones and  Tablets  */
@media(max-width:767px) /* هنا بقول له نفذ لي الخصائص علي كل الشاشات اللي اقصي عرض لها هو 767 حيث شاشات التابلت والمحمول */
{
    /* مش هيعمل حاجة في حالة الشاشات اللي العرض بتعها بيبدا من 0 حتي 767 */
}
/* for small screen */
@media  (min-width:768px) and (max-width:991px)
/*هنا بقول له نفذ لي الخصائص علي كل الشاشات اللي اقل عرض لها هو 768 حيث شاشات الكمبيوتر واللاب توب حيث هيبدا من عرض 768 للاخر عني لحد الشاشات ال 1000 بوصة
*/
{
    h1
    {
        
         color:#00f;
    }
   
}
/* for medium screen */
@media (min-width:992px) and (max-width:1199px)
{
    h1
    {
         color:#0f0;
    }
     
}
/* for large screen حيث بيدا من 1200 للاخر فمش مهم احط الحد الاقصي من العرض */
@media (min-width:1200px)
{
     h1
    {
         color:rgb(90,250,20);
    }
    
}
/**************** edit in navbar header properities ******************************/
@media (min-width:0px) and (max-width:767px)
{
    .navbar-inverse .navbar-nav > li > a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /**************** we will make the button 'subscribe' under the input field ********************/
    .subscribeSec .form-control
    {
        margin: 20px auto;
        width:400px;
    }
    /************** dropdown menu هلغي البكرة اللي بتظهر في حالة ال *************************************/
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse 
    /* في حالة الشاشات الصغيرة dropdownMenuده الكلاس بتاع البكرة اللي بتظهر مع ال*/
    {
        max-height:none; /* هلغي الطول بتاع البكرة فبالتالي هتختفي */
    }
    /* ---------- هخليها في منتصف الصفحة في حالة الشاشات الموبيلات فقط Our Awesome Work هخلي الصور والعنوان اللي اسمه ----------   */
    .smallScreenThumbnail
    {
        text-align: center;
    }
   
}

/*  ******************************************* End mediaQuery **************************************

 